@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    color: inherit;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --primary: #5D5D5D;
    --primaryLight: #222;
    --primaryDark: #000;
    --secondary: #F16D7F;
    --neutral: #FFFFFF;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    font-size: 14px;
    font-weight: 300;
    background: var(--neutral);

}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.icon {
    fill: #E8E8E8;
    transition: fill ease-in-out .2s;
}

.icon:hover {
    transition: fill ease-in-out .1s;
    fill: var(--secondary);
}



/* Header */

.header {
    background-color: var(--primaryLight);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 0 30px;
    gap: 20px;
}

.header__left {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-card {
    position: relative;
}

.header__card-counter {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    font-size: 12px;
    color: var(--neutral);
    background-color: var(--secondary);
}

.menu {
    position: absolute;
    top: 75px;
    right: 0;
    min-width: 234px;
    padding: 32px;
    background-color: var(--neutral);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in .1s;
}



.menu.menu-active {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

.menu__title {
    color: var(--primaryDark);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
}

.menu__tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__tab {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.tab-menu__title {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.tab-menu__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}


.tab-menu__link {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;

}

.tab-menu__link:hover {
    text-decoration: underline 2px var(--secondary);
}



/* brand */

.brand {
    background-color: #F1E4E6;
}

.brand__inner {
    display: flex;
    align-items: center;
}

.brand__img {
    flex: 0 0 50%;
    position: relative;
    padding-bottom: 67%;
}

.brand__img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.brand__title {
    flex: 0 1 50%;
    position: relative;
    color: var(--primaryLight);
    font-size: 48px;
    font-family: 'Lato';
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 28px;
    margin-left: 50px;
    line-height: 0.8;
}

.brand__title::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 12px;
    height: 92px;
    background-color: var(--secondary);
}

.small_font-size {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.color-secondary {
    color: var(--secondary);
}

/* categories */

.categories {
    padding: 65px 0 50px;
}



.categories__item-link {
    grid-column: span 4;
    position: relative;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.categories__item-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    opacity: 1;
    z-index: 2;
    transition: opacity ease-in-out .2s;
}

.categories__item-link:hover::before {
    opacity: 0.5;
    transition: opacity ease-in-out .2s;
}

.categories__item-link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.categories__item-link:last-child {
    grid-column: 1/-1;
    min-height: 160px;
}



.categories__text {
    position: relative;
    text-align: center;
    color: var(--neutral);
    max-width: 190px;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    z-index: 5;
}

.categories__title {
    color: var(--secondary);
    font-size: 22px;
    font-weight: 700;
}

/* fetured-items */


.fetured-items {
    padding: 50px 0 60px;

}

.fetured-items__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured-items__title {
    color: var(--primaryLight);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.fetured-items__subtitle {
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 48px;
}

.fetured-items__cards {
    margin-bottom: 50px;
}

.item-card {
    grid-column: span 4;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}




.item-card__img {
    position: relative;
    padding-bottom: 117%;
    z-index: 3;
}

.item-card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

.item-card__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 56, 56, 0.86);
    opacity: 0;
    z-index: 5;
    transition: opacity ease-in-out .2s;
}

.item-card__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 140px;
    min-height: 44px;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--neutral);
    color: var(--neutral);
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: box-shadow ease-in-out .1s;
}

.item-card__btn:hover .icon-card {
    transition: color ease-in-out .1s;
    color: var(--secondary);
}

.item-card__btn:hover {
    transition: box-shadow ease-in-out .1s;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.item-card:hover .item-card__btn {
    opacity: 1;
    visibility: visible;
}

.item-card:hover .item-card__img::before {
    opacity: 1;
    transition: opacity ease-in-out .2s;
}

.item-card__content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 16px;
}

.item-card__title {
    color: var(--primaryDark);
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.item-card__text {
    flex: 1 1 auto;
}

.item-card__price {
    display: block;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
}

.fetured-items__btn {
    align-self: center;
    min-height: 48px;
    padding: 0 49px;
    color: #F26376;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    background-color: transparent;
    text-transform: capitalize;
    border: 1px solid #FF6A6A;
    transition: box-shadow ease-in-out .1s;
}

.fetured-items__btn:hover {
    transition: box-shadow ease-in-out .1s;
    -webkit-box-shadow: 0 0 5px var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
}


/* benefit */




.benefit {
    padding: 100px 0;
    background-color: #222224;
}

.benefit__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.benefit__item {
    flex: 0 1 360px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #FBFBFB;
}

.benefit__title {
    font-size: 20px;
    font-weight: 400;
}



/* subscribe */



.subscribe {
    position: relative;
    padding: 100px 0 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.70);
    z-index: 1;
}

.subscribe__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 5;
    gap: 50px;
}

.subscribe__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__left-img {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}

.subscribe__left-img img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscribe__left-text {
    color: #222224;
    font-size: 20px;
    font-weight: 400;
    max-width: 360px;
}

.subscribe__right {
    flex: 0 0 360px;
    max-width: 360px;
    margin-right: 100px;
}

.subscribe__right-title {
    color: #222224;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
    text-transform: uppercase;
}

.subscribe__right-text {
    margin-bottom: 32px;
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    text-transform: uppercase;
}

.subscribe__form {
    display: flex;
}

.subscribe__form-input {
    flex: 0 0 256px;
    height: 50px;
    padding: 7px 22px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    background-color: #E1E1E1;
    ;
}

.subscribe__form-input::placeholder {
    color: rgb(34, 34, 36, 0.6);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.subscribe__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 50px;
    padding: 15px 20px;
    background-color: var(--secondary);
    color: var(--neutral);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    transition: box-shadow ease-in-out .2s;
}

.subscribe__btn:hover {
    box-shadow: 0 0 10px var(--secondary);
}



/* footer */


.footer {
    padding: 25px 0;
    background-color: #222224;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.footer__social {
    display: flex;
    gap: 7px;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--neutral);
    transition: background-color ease-in-out .2s;
}

.footer__social-link:hover {
    background-color: var(--secondary);
}

.footer__social-link:hover .footer__social-img {
    fill: var(--neutral);
}

.footer__social-img {
    fill: var(--primaryDark);
    transition: fill ease-in-out .2s;
}


@media (max-width:1024px) {
    .brand__img {
        padding-bottom: 51%;
    }

    .brand__img>img {
        object-position: center;
    }

    .brand__title {
        font-size: 44px;
    }

    .small_font-size {
        font-size: 22px;
    }

    .categories__item-link {
        min-height: 160px;
    }

    .categories__item-link:last-child {
        min-height: 117px;
    }

    .categories__text {
        font-size: 15px;
    }

    .categories__title {
        font-size: 15px;
    }

    .fetured-items__cards {
        grid-template-columns: repeat(8, 1fr);
    }

    .subscribe__right {
        flex-basis: auto;
        max-width: 360px;
        margin-right: 0;
    }
}

@media (max-width:768px) {
    .header__inner {
        padding: 15;
    }

    .header__right a:not(:first-child) {
        display: none;
    }

    .brand__img {
        flex: 0 0 30%;
    }

    .brand__title {
        font-size: 38px;
    }

    .small_font-size {
        font-size: 20px;
    }

    .categories__items {
        grid-template-columns: repeat(8, 1fr);
        grid-auto-flow: dense;
        align-self: center;
    }

    .categories__item-link:last-child {
        grid-column: span 4;
    }

    .benefit {
        padding: 50px 0;
    }

    .benefit__inner {
        display: flex;
        justify-content: center;
    }

    .benefit__items {
        flex-direction: column;
        gap: 50px;
    }

    .benefit__item {
        flex-basis: auto;
    }

    .subscribe {
        padding: 60px 0 140px;
    }

    .subscribe__inner {
        flex-direction: column;
    }

    .subscribe__form-input {
        flex: 0 1 256px;
    }
}

@media(max-width:620px) {


    .brand__inner {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .brand__img {
        display: none;
    }

    .brand__title {
        flex: 0 0 auto;
        margin: 150px 0;
    }

    .categories__items {
        grid-template-columns: repeat(4, 1fr);
    }

    .categories__item-link {
        min-height: 246px;
    }

    .categories__item-link:last-child {
        grid-column: span 4;
        min-height: 112px;
    }



    .fetured-items__btn {
        padding: 0 39px
    }
}

@media (max-width:540px) {
    .fetured-items__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fetured-items__cards {
        grid-template-columns: repeat(12, 1fr);
    }

    .fetured-items__cards-item {
        grid-column: 2/12;
    }
}

@media (max-width:470px) {
    .fetured-items__cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .fetured-items__cards-item {
        grid-column: span 4;
    }

    .subscribe__right-text {
        font-size: 14px;
    }

    .footer {
        padding: 43px 0 10px;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__social {
        order: -1;
        margin-bottom: 40px;
    }

}

@media(max-width:376px) {
    .benefit {
        padding-bottom: 100px;
    }
}